In [9]:
import pandas as pd

In [10]:
market=pd.read_csv('Market_Basket_Optimisation.csv',header=None)
market.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
0,shrimp,almonds,avocado,vegetables mix,green grapes,whole weat flour,yams,cottage cheese,energy drink,tomato juice,low fat yogurt,green tea,honey,salad,mineral water,salmon,antioxydant juice,frozen smoothie,spinach,olive oil
1,burgers,meatballs,eggs,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,chutney,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,turkey,avocado,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,mineral water,milk,energy bar,whole wheat rice,green tea,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
market.values[0,1]

'almonds'

In [12]:
len(market)

7501

In [13]:
#create inf for loop and converting this data into list
product=[]
for i in range(0,len(market)):
    product.append([str(market.values[i,j]) for j in range(0,len(market.columns))])

In [14]:
product[0]

['shrimp',
 'almonds',
 'avocado',
 'vegetables mix',
 'green grapes',
 'whole weat flour',
 'yams',
 'cottage cheese',
 'energy drink',
 'tomato juice',
 'low fat yogurt',
 'green tea',
 'honey',
 'salad',
 'mineral water',
 'salmon',
 'antioxydant juice',
 'frozen smoothie',
 'spinach',
 'olive oil']

In [15]:
!pip install apyori

Requirement already satisfied: apyori in c:\programdata\anaconda3\lib\site-packages (1.1.2)

In [16]:
from apyori import apriori

In [17]:
(3*7)/len(market)

0.0027996267164378083

In [18]:
rules=apriori(product,min_support=0.0027,min_confidence=0.2,min_lift=3,min_length=2,max_length=2)

In [28]:
results=list(rules)
results

[]

In [29]:
results[0]

IndexError: list index out of range

In [30]:
results[0][0]

IndexError: list index out of range